.navbar-container {
  position: fixed;
  top: 0;
  width: 100%;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  z-index: 1000;
  box-sizing: border-box;
}

.menu-icon {
  height: 40px;
  cursor: pointer;
}

.navbar-left-section {
  font-size: 32px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .navbar-left-section {
    font-size: 26px;
  }

  .menu-icon {
    height: 35px;
  }
}
