.container {
  height: 100vh;
  background-color: black;
  color: white;
  display: grid;

  grid-template-columns: 1fr 1fr;
}
.container-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  min-height: 400px;
  position: relative;
}
.container-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.welcome-message {
  font-size: 20px;
  position: relative;
  top: 15px;
  margin-bottom: 20px;
}

.resume-message{
  font-size:  20px;
  position: relative;
  margin-bottom: 20px;
}

.name-title {
  font-size: 100px;
  position: relative;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
.cursor{
  position: absolute;
  opacity: 0;
  animation: blink 0.7s infinite;
}

.cursor.visible{
  opacity: 1;
}

@keyframes blink{
  0%, 100% { opacity: 1;}
  50% {opacity: 0;}
}

.social-icons {
  margin-top: 20px;
  margin-bottom: 20px;
}

.resume-button {
  cursor: pointer;
  width: 150px;
  font-size: 20px;
  border: 1px solid #2e2e2e;
  background-color: #141414;
  color: white;
  border-radius: 30px;
  padding: 10px 20px;
  transition: all 0.5s ease;
}
.resume-button:hover {
  background-color: #006cff;
  border: 1 solid #006cff;
}
.social-icons {
  display: flex;
  gap: 10px;
}
.social-icon {
  height: 35px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
.social-icon:hover{
  transform: scale(1.1);
}
.about-section {
  margin-bottom: 20px;
  color: #fff;
}

.skills-section {
  margin-top: 20px;
}

.skill {
  margin-bottom: 10px;
}

.skill span {
  display: block;
  margin-bottom: 5px;
  color: #fff;
}

.progress-bar {
  width: 90%;
  background-color: #333;
  border-radius: 5px;
  overflow: hidden;
}

.progress {
  height: 10px;
  transition: width 1s ease-in-out;
}

.cv {
  background-color: #61dafb;
}

.python {
  background-color: #ffd43b;
}

.ml {
  background-color: #4caf50;
}

.ros {
  background-color: #8a2be2;
}

.skill :nth-child(1).progress{
  transition-delay: 0.1s;
}
.skill :nth-child(2).progress{
  transition-delay: 0.3s;
}
.skill :nth-child(3).progress{
  transition-delay: 0.5s;
}
.skill :nth-child(4).progress{
  transition-delay: 0.7s;
}

